{% extends 'base-adjusted.html.twig' %}

{% block  body %}


    <div class="container-fluid blue-color-1">
        <div class="row row url-transfer url-finish-transfer" id="slug" data-slug="{{ slug }}" data-url="{{ path('app_delivery_home') }}">
            <div class="col-12">
                <div class="page-content-1">
                    <hr class="hr-text" data-content="Status">

                </div>
            </div>
        </div>
    </div>
    <div class="transfer-colors"></div>

    <div class="container-fluid blue-color-2">
        <div class="row">
            <div class="col-12">
                <div class="page-content-2">
                    <hr class="hr-text" data-content="History">
                    <div class="box">
                        <ul id="first-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="scannerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Scan QR Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="preview"></video>
                </div>
                <div class="modal-footer">
                    <button type="button" id="transfer-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="transfer-deny" type="button" class="btn btn-danger hidden">Deny</button>
                    <button id="transfer-confirm" type="button" class="btn btn-success hidden">Confirm</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
