{% extends 'base.html.twig' %}

{% block  body %}
    <div class="row url-transfer" id="slug" data-url-transfer="{{ path('app_delivery_transfer', {'slug': 0}) }}" data-slug="{{ slug }}">
        <div class="col-12">
            <div class="page-content">

            </div>
        </div>
    </div>
{% endblock %}