{% extends 'base.html.twig' %}

{% block  body %}
    <table class="table table-bordered table-striped" id="delivery-index">
        <thead>
        <tr>
            <th>#</th>
            <th>Delivery Company</th>
            <th>Receiver</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">No parcels found.</td>
            </tr>
        </tbody>
    </table>
{% endblock %}