{% extends 'base.html.twig' %}

{% block  body %}
    <div class="row">
        <div class="col-md-12">
            <h2 id="slug" data-slug="{{ slug }}">{{ slug }}</h2>
        </div>
        <div class="col-md-12">
            <div class="page-content">
                {# FORM WITH CODE INPUT #}
            </div>
        </div>

    </div>
{% endblock %}