{% extends 'base.html.twig' %}

{% block  body %}
    <div class="row" id="slug" data-slug="{{ slug }}">
        <div class="col-12">
            <div class="page-content">

            </div>
        </div>
    </div>
{% endblock %}