{% extends 'base.html.twig' %}

{% block  body %}
    <div class="row">
        <div class="col-md-12">
            <h2 id="slug" data-slug="{{ slug }}">{{ slug }}</h2>
        </div>
        <div class="col-md-12">
            <div class="page-content">

            </div>
        </div>
        <div class="col-md-12">
            <h2>Change of ownership</h2>
            <table class="table table-bordered table-striped" id="delivery-details">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Owner</th>
                        <th>Receiver</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}