{% extends 'base.html.twig' %}

{% block  body %}
    <div class="row" id="slug" data-slug="{{ slug }}">
        <div class="col-12">
            <div class="page-content-1">

            </div>
            <div class="page-content-2">

            </div>
        </div>
    </div>
{% endblock %}