{% extends 'base.html.twig' %}

{% block  body %}
    <table class="table table-bordered table-striped" id="customer-todo">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Delivery Company</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <table class="table table-bordered table-striped" id="customer-done">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Delivery Company</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}