{% extends 'base.html.twig' %}

{% block  body %}
    <h2>To be received</h2>
    <table class="table table-bordered table-striped" id="customer-todo">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Delivery Company</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">No parcels received.</td>
            </tr>
        </tbody>
    </table>

    <h2>Received</h2>
    <table class="table table-bordered table-striped" id="customer-done">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Delivery Company</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">No parcels received.</td>
            </tr>
        </tbody>
    </table>
{% endblock %}