{% extends 'base.html.twig' %}

{% block  body %}
    <div class="url-detail" data-url-detail="{{ path('app_customer_detail', {'slug': 0}) }}"></div>
    <hr class="hr-text" data-content="Parcels">
    <div class="todo">
    </div>
    <hr class="hr-text" data-content="Delivered">
    <div class="done">
    </div>
{% endblock %}