{% extends 'base.html.twig' %}

{% block  body %}

    <div class="container-fluid blue-color-1">
        <div class="row">
            <div class="col-12">
                <hr class="hr-text" data-content="Actions">
                <div class="card border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" id="activateScanner" data-toggle="modal" data-target="#scannerModal" href="#" class="btn btn-primary button-lg align-center-transfer margin-bottom">Scan QR Code</button>
                            </div>
                            <div class="col-6">
                                <button type="button" id="registerParcel" data-toggle="modal" data-target="#parcelModal" href="#" class="btn btn-primary button-lg align-center-transfer margin-bottom">Register Parcel</button>
                            </div>
                            <div class="col-6">
                                <button type="button" id="registerShippingCompany" data-toggle="modal" data-target="#shippingModal" href="#" class="btn btn-secondary button-lg align-center-transfer margin-bottom">Register Shipping Company</button>
                            </div>
                            <div class="col-6">
                                <button type="button" id="registerDeliverer" data-toggle="modal" data-target="#delivererModal" href="#" class="btn btn-secondary button-lg align-center-transfer margin-bottom">Register Deliverer</button>
                            </div>
                            <div class="col-12">
                                <button type="button" id="refreshData" href="#" class="btn btn-secondary button-lg align-center-transfer margin-bottom">Refresh</button>
                            </div>
                        </div>
                        <p class="card-subtitle text-muted last-update-text"></p>
                        <p class="card-text text-muted"></p>
                    </div>
                    {#<div class="card-footer bg-transparent">#}

                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="transfer-colors"></div>

    <div class="container-fluid blue-color-2">
        <div class="row">
            <div class="col-12">
                <div class="url-detail" data-url-detail="{{ path('app_admin_detail', {'slug': 0}) }}"></div>
                <div class="row">
                    <div class="col-6">
                        <hr class="hr-text" data-content="Todo">
                        <div class="todo">
                        </div>
                    </div>
                    <div class="col-6">
                        <hr class="hr-text" data-content="Delivered">
                        <div class="done">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="scannerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scan QR Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="preview"></video>
                </div>
                <div class="modal-footer">
                    <button type="button" id="transfer-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="transfer-deny" type="button" class="btn btn-danger hidden">Deny</button>
                    <button id="transfer-confirm" type="button" class="btn btn-success hidden">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="parcelModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Parcel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary"></div>
                    <form class="form-parcel">
                        <div class="form-group">
                            <label>Deliverer (public key)</label>
                            <input type="text" required class="form-control" id="parcel-address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label>Receiver (public key)</label>
                            <input type="text" required class="form-control" id="parcel-name" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label>Postal address (text)</label>
                            <input type="text" required class="form-control" id="parcel-location" placeholder="Postal">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="transfer-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shippingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Shipping Company</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary"></div>
                    <form class="form-shippingcompany">
                        <div class="form-group">
                            <label>Address (public key)</label>
                            <input type="text" required class="form-control" id="shippingcompany-address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label>Name (text)</label>
                            <input type="text" required class="form-control" id="shippingcompany-name" placeholder="Name">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="transfer-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delivererModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Deliverer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary"></div>
                    <form class="form-deliverer">
                        <div class="form-group">
                            <label>Address (public key)</label>
                            <input type="text" required class="form-control" id="deliverer-address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label>Name (text)</label>
                            <input type="text" required class="form-control" id="deliverer-name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Location (text)</label>
                            <input type="text" class="form-control" id="deliverer-location" placeholder="Location">
                        </div>
                        <button type="submit" required class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="transfer-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}