{% extends 'base.html.twig' %}

{% block  body %}
    <h1>Admin Panel</h1>
    <div class="url-app_admin_detail" data-url-detail="{{ path('app_admin_detail', {'slug': 0}) }}"></div>

    <div class="customer-todo">

    </div>

    <hr>

    <div class="customer-done">

    </div>


{% endblock %}